<%- include('./partials/customer-head') %>

    <body>
        <!--------- Banner Section Is Here -------->
        <div class="mx-md-5">
            <picture>
                <img loading="lazy" class="pb-4 rounded" width="100%" src="assets/img/banner/banner1.jpg" alt="" />
            </picture>
            <!--------- Banner Section Is Here -------->

            <!--------- Main Section Is Here -------->
            <main>

                <% if (category==="Games & Toys" ) { %>
                    <div class="mb-5">
                        <img loading="lazy" src="/img/banner/toy.png" class="d-block w-100 rounded"
                            alt="Games & Toys Banner" />
                    </div>
                    <h2>
                        <%= category %>
                    </h2>
                    <% } %>
                        <% if (category==="Furniture" ) { %>
                            <div class="mb-5">
                                <img loading="lazy" src="/img/banner/funiture.png" class="d-block w-100 rounded"
                                    alt="Furniture Banner" />
                            </div>
                            <h2>
                                <%= category %>
                            </h2>
                            <% } %>
                                <% if (category==="Fashion" ) { %>
                                    <div class="mb-5">
                                        <img loading="lazy" src="/img/banner/fashion.png" class="d-block w-100 rounded"
                                            alt="..." />
                                    </div>
                                    <h2>
                                        <%= category %>
                                    </h2>
                                    <% } %>
                                        <% if (category==="Accessories" ) { %>
                                            <div class="mb-5">
                                                <img loading="lazy" src="/img/banner/accessories.png"
                                                    class="d-block w-100 rounded" alt="..." />
                                            </div>
                                            <h2>
                                                <%= category %>
                                            </h2>
                                            <% } %>
                                                <% if (category==="Others" ) { %>
                                                    <div class="mb-5">
                                                        <img loading="lazy" src="/img/banner/others.png"
                                                            class="d-block w-100 rounded" alt="..." />
                                                    </div>
                                                    <h2>
                                                        <%= category %>
                                                    </h2>
                                                    <% } %>

                                                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3"
                                                            id="smallCard">
                                                            <!-- card 1 -->
                                                            <% products.forEach(product=> { %>
                                                                <div class="col">
                                                                    <div class="card h-100">
                                                                        <a class="stretched-link"
                                                                            href="/customer/<%= customer._id  %>/product/<%= product._id  %>"><img
                                                                                loading="lazy"
                                                                                src="data:<%= product.image.mimeType %>;base64,<%= product.image.data.toString('base64') %>"
                                                                                class="card-img-top" alt="..." /></a>
                                                                        <div class="card-body text-center">
                                                                            <h5 class="card-title">
                                                                                <%= product.name %>
                                                                            </h5>
                                                                            <p class="card-text">
                                                                                <b>
                                                                                    <%= (product.price).toLocaleString('en-US')
                                                                                        %>&#8363;
                                                                                </b>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                        </div>
            </main>
        </div>
        <!--------- Main Section Is Here -------->

        <!--------- Footer Section Is Here -------->
        <%- include('./partials/customer-footer') %>
    </body>