<%- include('./partials/shipper-head') %>

    <div class="p-3 p-lg-5  bg-dark container-fluid rounded">
        <!-- For demo purpose -->
        <div class="text-white text-center fw-bolder">
            <h1 class="p-2">Delivery</h1>
        </div>

        <div class="row py-2 rounded fs-5">
            <% orders.forEach(order=> { %>
                <div
                    class="col-md-3 bg-white text-sm-start d-flex justify-content-center flex-column align-items-center py-4 ">
                    <div>

                        <p>🧑: <%= order.customerName %>
                        </p>
                        <p>💸: <%= (order.totalPrice).toLocaleString('en-US') %>&#8363 %>
                        </p>
                        <p>📞: 0932131389</p>
                    </div>
                </div>
                <div class="col-md-7 bg-white text-dark d-flex align-items-center">
                    <div>
                        <p>🗺️: <%= order.customerAddress %>
                        </p>
                        <p>🛒Products:
                            <% order.orderItems.forEach(item=> { %>
                                <p>
                                    🌟<%= item %>
                                </p>
                                <% }) %>
                        </p>
                    </div>
                </div>
                <div class="col-md -2 bg-white text-center d-flex align-items-center ml-3 py-2">
                    <form action="/shipper/order/update/<%= shipper._id %>" id="delivery-form" method="post"
                        onsubmit="alert(`Order <%= order._id %>: status saved`);">
                        <h5 class="fw-bold">Status</h5>
                        <input type="text" value="<%= order._id %>" name="orderID" hidden>
                        <select class="form-select text-center" aria-label="Default select example"
                            name="deliveryStatus">
                            <option value="active">Active</option>
                            <option value="shipped">Delivered</option>
                            <option value="canceled">Canceled</option>
                        </select>
                        <button type="submit" class="btn btn-success w-100 my-2">Save
                            <button type="button" class="btn btn-success w-100 my-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Update
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update order state:</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Do you wanna change your information ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
                <hr>
                <% }) %>

        </div>

    </div>
    <!-- Shopping cart table -->
    </div>



    <!-- Footer section -->
    <%- include('./partials/shipper-footer') %>