<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<!-- Header for customer homepage -->
<%- include('./partials/customer-head') %>

  <div class="mx-md-5">
    <!------------- Carousel --------------------->
    <div id="carouselExampleSlidesOnly" class="carousel slide pb-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img loading="lazy" src="/img/carousel/carousel1.jpg" class="d-block w-100 rounded" alt="..." />
        </div>
        <div class="carousel-item">
          <img loading="lazy" src="/img/carousel/carousel2.jpg" class="d-block w-100 rounded" alt="..." />
        </div>
        <div class="carousel-item">
          <img loading="lazy" src="/img/carousel/carousel3.jpg" class="d-block w-100 rounded" alt="..." />
        </div>
      </div>
    </div>
    <!------------- Carousel --------------------->

    <!------------- Slider (briefly talk about a specif product) --------------------->
    <div class="p-3 p-md-0 row row-cols-1 row-cols-sm-2 row-cols-md-3 bg-dark rounded text-light">
      <div class="col-md-6 d-flex align-items-center py-md-5">
        <img loading="lazy" width="100%" src="/img/homepage/wooden-saigonopoly-home.png" alt="" />
      </div>
      <div class="col-md-6 pt-3 p-md-3 ps-md-0 d-flex align-items-center">
        <article>
          <h3 class="text-center">WOODEN SAIGONOPOLY</h3>
          <p class="d-none d-md-block">
            Our design team drew on childhood memories to create "Saigonopoly," a nostalgic journey through the
            "Pearl of the Orient." This wooden chessboard showcases famous streets like Nguyen Hue, Dong Khoi, and
            Pasteur, offering a chance to explore old Saigon. Saigonopoly is a compact and magnetically assembled
            game set, perfect for gifting during gatherings. Experience Saigonopoly your way!
          </p>
          <p class="d-md-none">"Saigonopoly" is a nostalgic chessboard with iconic streets from old Saigon. It's a
            perfect gift for gatherings, offering a unique way to revisit the past.</p>
        </article>
      </div>
    </div>
    <!------------- Slider (briefly talk about a specific product) --------------------->

    <!------------- Main section is HERE --------------------->
    <main>

      <h1 class="p-3 fw-bold">Popular</h1>
      <!-- Filter -->
      <%- include('./partials/priceFilter') %>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3" id="smallCard">
          <!-- card 1 -->
          <% products.forEach(product=> { %>
            <div class="col p-2 mb-2" id="smallcard">
              <div class="card h-100">
                <a class="stretched-link" href="/customer/<%= customer._id %>/product/<%= product._id %>"><img
                    loading="lazy"
                    src="data:<%= product.image.mimeType %>;base64,<%= product.image.data.toString('base64') %>"
                    class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <%= product.name %>
                  </h5>
                  <p class="card-text"><b>
                      <%= (product.price).toLocaleString('en-US') %>&#8363;
                    </b></p>
                </div>
              </div>
            </div>

            <% }) %>
        </div>
    </main>
    <!------------- Main section ends HERE --------------------->
  </div>

  <!-- Footer section -->
  <%- include('./partials/customer-footer') %>