<!-- Header section -->
<%- include('./partials/customer-head') %>
    <!--------- Header Section Is Here -------->

    <!--------- Main Section Is Here -------->
    <div class="mx-md-5">
        <main>
            <h2>Search result</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3" id="smallCard">
                <!-- card -->
                <% products.forEach(function (product, index) { %>
                    <div class="col">
                        <div class="card h-100">
                            <a class="stretched-link"
                                href="/customer/<%= customer._id %>/product/<%= product._id %>"><img loading="lazy"
                                    src="data:<%= product.image.mimeType %>;base64,<%= product.image.data.toString('base64') %>"
                                    class="card-img-top" alt="..."></a>
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    <%= product.name %>
                                </h5>
                                <p class="card-text"><b>
                                        <%= (product.price).toLocaleString('en-US') %>&#8363;
                                    </b></p>
                            </div>
                        </div>
                    </div>

                    <% }) %>
            </div>

        </main>
    </div>
    <!--------- Main Section Is Here -------->


    <!--------- Footer Section Is Here -------->
    <%- include('./partials/customer-footer') %>
        <!--------- Footer Section Is Here -------->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        </body>

        </html>