<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<!-- Header section -->
<%- include('./partials/customer-head') %>
    <!--------- Header Section Is Here -------->

    <!--------- Main Section Is Here -------->
    <div class="mx-md-5">
        <main>
            <h2>Search result</h2>
            <% if (typeof min !='undefined' || typeof max !='undefined' ) { %>
                <form class="mb-4 ms-3 filter-group" action="/customer/priceFilter/<%= customer._id %>" method="post">
                    <div class="d-block d-sm-inline mb-2 mb-sm-0">
                        <label for="minPrice">Min price:</label>
                        <input type="number" name="min" id="minPrice" value="<%= min %>">
                    </div>
                    <div class="d-block d-sm-inline ms-sm-3 mb-2 mb-sm-0">
                        <label for="maxPrice">Max price:</label>
                        <input type="number" name="max" id="maxPrice" value="<%= max %>">
                    </div>
                    <button class="text-light bg-dark rounded ms-sm-3" type="submit">Filter</button>
                </form>
                <% } %>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3" id="smallCard">
                        <!-- card -->
                        <% products.forEach(function (product, index) { %>
                            <div class="col">
                                <div class="card h-100">
                                    <a class="stretched-link"
                                        href="/customer/<%= customer._id %>/product/<%= product._id %>"><img
                                            loading="lazy"
                                            src="data:<%= product.image.mimeType %>;base64,<%= product.image.data.toString('base64') %>"
                                            class="card-img-top" alt="Searched Product"></a>
                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            <%= product.name %>
                                        </h5>
                                        <p class="card-text"><b>
                                                <%= (product.price).toLocaleString('en-US') %>&#8363;
                                            </b></p>
                                    </div>
                                </div>
                            </div>

                            <% }) %>
                    </div>

        </main>
    </div>
    <!--------- Main Section Is Here -------->


    <!--------- Footer Section Is Here -------->
    <%- include('./partials/customer-footer') %>
        <!--------- Footer Section Is Here -------->

        </body>

        </html>