<!-- Header for vendor -->
<%- include('./partials/vendor-head') %>

    <h2 class="text-center m-5 fw-bolder">Hello, <%= vendor.fullName %>
    </h2>
    <div class="container shadow-lg p-3 mt-4">
        <h3 class="text-center">Your products</h3>
        <table>
            <thead>
                <tr>
                    <th scope="col">PRODUCT'S NAME:</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product=> { %>
                    <tr>
                        <!-- Product name -->
                        <td data-label="product name">
                            <%= product.name %>
                        </td>
                        <!-- Price use function x = x.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); to display , and d-->
                        <td data-label="price">
                            <%= (product.price).toLocaleString('it-IT', {style : 'currency' , currency : 'VND' }) %>
                        </td>
                        <td data-label="stock">
                            <%= product.amount %>
                        </td>
                        <td data-label="action" class="d-flex justify-content-between justify-content-md-center">
                            <div class="d-flex gap-4">
                                <div>
                                    <!-- Create Button -->
                                    <!-- link to edit page -->
                                    <a href="/vendor/product/<%= vendor.id %>/update/<%= product.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <!-- Delete button -->
                                    <!-- Link to delete mongose -->
                                    <a href="/vendor/product/<%= vendor.id %>/delete/<%= product.id %>"
                                        class="text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                            <path
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <!-- Link to add product page -->
    <a href="/vendor/addproduct/<%= vendor.id %>" class="text-decoration-none text-white" style="line-height: 40px;">
        <div class="container bg-success text-center mt-5  rounded-3">ADD NEW PRODUCT</div>
    </a>

    <!------------- Footer section is HERE --------------------->
    <footer class="py-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="privacy.html" class="nav-link px-2 text-body-secondary">Privacy Policy</a>
            </li>
            <li class="nav-item"><a href="operatingregulations.html" class="nav-link px-2 text-body-secondary">Operating
                    Regulations</a>
            </li>
            <li class="nav-item"><a href="shipping.html" class="nav-link px-2 text-body-secondary">Shipping
                    Policy</a>
            </li>
            <li class="nav-item"><a href="returnandrefund.html" class="nav-link px-2 text-body-secondary">Return and
                    Refund
                    Policy</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 TheCornerStore</p>
    </footer>
    <!------------- Footer section is HERE --------------------->



    </body>

    </html>